.teachers{
  background-image: linear-gradient(to right top, #1b3e5c, #183a5b, #153659, #133258, #132e56, #103761, #0a406b, #004a76, #00658c, #00809d, #009ca8, #3eb7af);
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.teachers>h2{
  color: whitesmoke;
}