.teachers{
  background-image: linear-gradient(to left top, #0e166f, #031c69, #002061, #042359, #0d2550, #02284d, #002b49, #052d44, #003142, #00343f, #04373b, #113937);
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.teachers>h2{
  color: whitesmoke;
}