.header-section{
  position: absolute;
  height: 50px;
  margin: auto;
  top: 15px;
  right: 20px;
}

.logo-section{
  position: absolute;
  height: 70px;
  margin: auto;
  top: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  /* background-color: #081c4e52; */
  background-color: rgba(250, 235, 215, 0.753);
  padding: 0px 5px;
  border-radius: 10px;
}

.logo-section>h3{
  /* color: #f1678b; */
}


.logo-section>img{
  margin-left: 10px;
  height: 60px;
  border-radius: 50%;
}

.link{
  text-decoration: none;
  margin: 10px 10px;
  color: bisque;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  /* background-color: #0e243ff3; */
  padding: 12px;
  border-radius: 5px;
}

.link:hover{
  color: white;
  background-color: rgba(165, 42, 42, 0.178);
  border-radius: 4px;
}